*, *:after, *:before {
	box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.cardContainer {
  float: left;
  width: 25%;
  margin: 15px;
}

.mainContainer:after {
  content: "";
  display: table;
  clear: both;
}

.card {
	box-shadow: -7px -7px 5px -2px rgb(0 0 0 / 20%);
  transition: 0.7s;
  padding-bottom: 10px;
}

.card:hover {
  box-shadow: 7px 7px 5px -2px rgb(0 0 0 / 20%);
}

.card-links {
  color: white;
  font-weight: 500;
  text-decoration: none;
  background-color: rgb(35, 108, 192);
  padding: 10px;
  border-radius: 10px;
  bottom: -5px;
  position: relative;
  transition: 0.5s;
}

.card-links:hover {
  background-color: white;
  color: rgb(35, 108, 192);
  border: solid 2px rgb(35, 108, 192);
}